<h1> Sign Up! </h1>

<form action='/signup' method='POST'>
  <label for='title'>
    Email:
    <input type='text' name='email' />
  </label>
  <label for='url'>
    Password:
    <input type='password' name='password' />
  </label>
  <input type='submit' value='Sign Up'>
</form>
