<h1>Welcome <%=@user.email %></h1>

<h2>Your available link's are as follows:</h2>
<ul id="links">
  <% @links.each do |link| %>
  <li>
    Title: <%= link.title %>
    URL: <%= link.url %>
    Tags: <%= link.tags.map(&:name) %>
  </li>
  <% end %>
</ul>

<form action='/links/new' method='GET'>
  <input type='submit' value='Add Link'>
</form>

<form action='/tags' method='GET'>
  <input type='submit' value='Filter'>
</form>

<form action='/links' method='GET'>
  <input type='submit' value='Show All'>
</form>
