<h1> Search by tag </h1>

<form action='/tags/bubbles' method='get'>
  <label for='search'>
    Search:
    <input type='text' name='search_tag' />
  </label>
  <input type='submit' value='Search'>
</form>
